[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "*"
django-import-export = "*"
Django = ">=2"
"PyPDF2" = "*"
"django-related-admin" = "*"
"django-celery" = "*"

[requires]
python_version = "3.5"

[dev-packages]
